*{
    font-family: Arial, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

body{
    width: 90%;
    margin: 0 auto;
}

section{
    overflow: auto;
}

header{
    background-color: orange;
}

.col1, .col2, .col3{
   
    width: 31.3%;
    float: left;
    margin: 1%;
    height: 50px;
    
}

.col3{
    margin-right: 0%;
}


li{
    display: inline;
    margin: 0.5em;
}
/* Css for booking below */
body {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
  }
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }
